<!doctype html>
<html>
<head>
  <title>Form</title>
</head>
<body>
    <form action="/madlib">
      <fieldset>
        <legend>Enter words for the Madlib!</legend>
        <p>
          <label for="color">Enter a color: </label>
          <input type="text" name="color" id="color">
        </p>
        <p>
          <label for="noun">Enter a noun: </label>
          <input type="text" name="noun" id="noun">
        </p>
        <p>
          <label for="person">Enter a person: </label>
          <input type="text" name="person" id="person">
        </p>
        <p>
          <label for="adjective">Enter a adjective: </label>
          <input type="text" name="adjective" id="adjective">
        </p>
      </fieldset>

      <input type="submit" value="Submit">
    </form>
</body>
</html>